ul{
    list-style-type: none;
    text-align: right;
    margin: 0;
    line-height: 40px;
    background: yellowgreen;
  }
  ul > li{
      display: inline;
      margin-right: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
  }
  .menu-active{
   
    font-size: 20px;
    font-style: italic;
  }
  .menu-active > a{
    color: red !important;
  }
  .mobile-view-ul{
    width: 120px;
    text-align: left;
    display: inline-block;
    transition: left 2s;
    position: absolute;
  }
  .mobile-view-ul > li{
    display: block
  }
  .mobile-menu-btn{
    position: fixed;
    right: 0;
    top: 80px;
  }